.i {
    -fx-font-family: FontAwesome;
}

.status-running {
    -fx-background-color: #8caebf;
}
.status-waiting {
    -fx-background-color: #ccc;
}
.label-running {
    -fx-text-fill: #8caebf;
}
.label-waiting {
    -fx-text-fill: #ccc;
}