.i {
    -fx-font-family: FontAwesome;
}

.status-running {
    -fx-background-color: #a5cee2;
}
.status-waiting {
    -fx-background-color: #ccc;
}
.label-running {
    -fx-text-fill: #a5cee2;
}
.label-waiting {
    -fx-text-fill: #ccc;
}